table {
  width: 100%;
  border: solid 1px #000;
  border-width: 1px 0 0 1px;
  border-spacing: 0;

  th {
    background-color: #9e9e9e;
    color: #fff;
  }

  tr:nth-child(odd) {
    td {
      background-color: #e6e6e6;
    }
  }

  th, td {
    padding: 15px;
    border-width: 0 1px 1px 0;
    border-color: #000;
    border-style: solid;
    text-align: center;
  }

  td.status button {
    margin-left: 10px;
    background-image: url(/assets/ico-edit.png);
    background-color: transparent;
    height: 16px;
    width: 16px;
    border: none;
    cursor: pointer;
  }
}

.empty {
  margin-top: 15px;
}