<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User Name</th>
      <th>Registered</th>
      <th>Agent ID</th>
      <th>Status</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of showItems">
      <td>{{v.id}}</td>
      <td>{{v.name}}</td>
      <td>{{v.createdDate | amTimeAgo}}</td>
      <td>{{v.agentId}}</td>
      <td class="status">
        {{v.status.title}}
        <button (click)="editStatus($event, v)"></button>
      </td>
      <td>{{v.role.title}}</td>
    </tr>
  </tbody>
</table>

<div [hidden]="showItems.length" class="empty">No items.</div>