<div fxLayout="row">
    <div fxFlex="60%" class="col-master">
        <div fxLayout="row">
            <span fxFlex>Users</span>
            <users-toolbar (filtered)="filter($event)" (addUser)="addUser()"></users-toolbar>
        </div>

        <div>
            <users-grid [items]="users" [filters]="filters" (onChangeStatus)="changeStatus($event)"></users-grid>
        </div>
    </div>

    <div fxFlex="40%" class="col-detail">
        <users-userinfo></users-userinfo>
    </div>
</div>

<dialog-add
    [visible]="showAddUserDialog"
    (onClose)="onAddUserDialogClose($event)">
</dialog-add>

<dialog-change-status
    [params]="changeStatusDialogParams"
    (onClose)="onChangeStatusDialogClose($event)">
</dialog-change-status>
