.search {
  background-image: url(/assets/ico-search.png);
  background-size: 20px 20px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

input, select, button {
  border: solid 1px gray;
  margin-left: 10px;
  padding: 7px;
}
