<input [(ngModel)]="search" (click)="onSearchClick()" (keyup)="filter('search', $event.target.value)" class="search" />

<select [ngModel]="status" (ngModelChange)="filter('status', $event)" [hidden]="searchMode">
  <option *ngFor="let v of statusOptions" [ngValue]="v.id">Status: {{v.title}}</option>
</select>

<select [ngModel]="role" (ngModelChange)="filter('role', $event)" [hidden]="searchMode">
  <option *ngFor="let v of roleOptions" [ngValue]="v.id">Role: {{v.title}}</option>
</select>

<button (click)="cancelSearch()" [hidden]="!searchMode">Cancel Search</button>
<button (click)="onAddUserClick()" [hidden]="searchMode">Add User</button>
