:host {
  position: absolute;
}

.dialog-change-status {
  border: solid 1px #000;
  padding: 15px;
  width: 200px;
  background: #fff;

  p {
    margin: 0 0 15px 0;
  }

  button.close {
    border: none;
    background: none;
    cursor: pointer;
    float: right;
  }

  .statuses {
    button {
      padding: 7px;
      border: solid 1px #000;
      cursor: pointer;

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:nth-child(n+2) {
        border-left: none;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      &.active {
        background-color: yellowgreen;
      }
    }
  }
}
