<div class="modal-dialog dialog-change-status" *ngIf="show">
  <button class="close" (click)="close()">x</button>
  <p>Change user status to</p>

  <div class="statuses">
    <button *ngFor="let v of statusOptions" (click)="setValue(v)" [ngClass]="{ active: statusId == v.id }">{{v.title}}</button> 
  </div>
</div>
