:host {
  position: absolute;
  width: 100%;
  top: 200px;
}

.dialog-add-user {
  border: solid 2px #000;
  border-radius: 10px;
  background: #fff;

  .modal-header {
    background-color: #eee;
    border-radius: 10px 10px 0 0;

    p {
      margin: 0;
      padding: 5px;
    }
  }

  .modal-body {
    padding: 30px;
  }

  .modal-footer {
    padding: 0 0 30px 30px;
  }
}

input, select {
  display: block;
  margin: 10px 0;
  padding: 3px;
  width: 50%;
}

select {
  width: calc(50% + 10px);

  option[disabled] {
    color: gray;
  }
}

button {
  margin-right: 20px;
  padding: 7px;
}