<div class="modal-dialog dialog-add-user" *ngIf="visible">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title">Add User</p>
            <!-- button type="button" class="close" (click)="close()" >&times;</button -->
        </div>
        <div class="modal-body">
            <select [ngModel]="role" (ngModelChange)="onRoleChange($event)">
                <option [ngValue]="undefined" disabled hidden>Role</option>
                <option *ngFor="let v of roleOptions" [ngValue]="v">{{v.title}}</option>
            </select>

            <input [(ngModel)]="email" placeholder="Email" />
            <input [(ngModel)]="firstName" placeholder="First Name" />
            <input [(ngModel)]="lastName" placeholder="Last Name" />
            <input [(ngModel)]="agentId" placeholder="Agent id" />            
        </div>
        <div class="modal-footer">
            <button type="button" (click)="apply()">Create</button>
            <button type="button" (click)="close()" >Cancel</button>
        </div>
    </div>
</div>
